<div class="jumbotron">
  <h1>LENTA</h1>
  <p>
  	<%= link_to 'Sign UP', new_user_registration_path, class: "btn btn-primary btn-lg" %>
  	<%= link_to 'Sign IN', new_user_session_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>